{% extends "template.html" %}

{% block content %}
    <h1>Employees</h1>


    {% if status %}

        {% for user in data %}
            <p>{{ user['user']['first_name'] + ' ' +  user['user']['last_name'] }}</p>

        {% endfor %}

    {% endif %}



{% endblock %}