{% extends "template.html" %}

{% block content %}
    <h1>My Profile</h1>

    {% if status %}

            <div class="row">
                <div class="col-2"><strong>id: </strong></div>
                <div class="co1-10">{{ data['id'] }}</div>
            </div>

            <div class="row">
                <div class="col-2"><strong>Username: </strong></div>
                <div class="co1-10">{{ data['username'] }}</div>
            </div>

            <div class="row">
                <div class="col-2"><strong>Email: </strong></div>
                <div class="co1-10">{{ data['email'] }}</div>
            </div>

            <div class="row">
                <div class="col-2"><strong>First Name: </strong></div>
                <div class="co1-10">{{ data['first_name'] }}</div>
            </div>

            <div class="row">
                <div class="col-2"><strong>Last Name:: </strong></div>
                <div class="co1-10">{{ data['last_name'] }}</div>
            </div>

            <div class="row">
                <div class="col-2"><strong>Is Active: </strong></div>
                <div class="co1-10">{{ data['is_active'] }}</div>
            </div>

            <div class="row">
                <div class="col-2"><strong>Is Staff: </strong></div>
                <div class="co1-10">{{ data['is_staff'] }}</div>
            </div>

            <div class="row">
                <div class="col-2"><strong>Is Superuser: </strong></div>
                <div class="co1-10">{{ data['is_superuser'] }}</div>
            </div>

    {% endif %}



{% endblock %}